<% include partials/header %>

<h1>Ez Movies!</h1>
<p>Data for Movies.</p>

<form action="/results" method="POST">
    <input type="text" name="search" placeholder="Search!">
    <button>Submit!</button>
</form>



<% include partials/footer %>
